In [1]:
import pandas as pd

#MEMBACA DATASET

In [2]:
dataset = pd.read_csv('Video_Games_Sales_as_at_22_Dec_2016.csv')

#MELIHAT FILE CSV

In [20]:
pd.read_csv('Video_Games_Sales_as_at_22_Dec_2016.csv')

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16715,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16717,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16718,Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN

#TAMPILKAN ISI DICTIONARY SESUAI NAMA INFORMASI

In [33]:
isiRecord = len(dataset)
namaattribute = dataset.columns
jumlahobjek = len(dataset.select_dtypes(include=['object']).columns)
jumlahangka = len(dataset.select_dtypes(include=['int64']).columns)
jumlahnULL = len(dataset.columns[dataset.isna().sum() > 0])

dictionary_no1 = {
    "isi record": isiRecord,
    "Nama attribute yang ada": namaattribute,
    "Jumlah objek": jumlahobjek,
    "Jumlah angka": jumlahangka,
    "Jumlah nULL": jumlahnULL,
}

pd.Series(dictionary_no1)

isi record                                                             16719
Nama attribute yang ada    Index(['Name', 'Platform', 'Year_of_Release', ...
Jumlah objek                                                               6
Jumlah angka                                                               0
Jumlah nULL                                                               10
dtype: object

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         16719 non-null  float64
 6   EU_Sales         16719 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      16719 non-null  float64
 9   Global_Sales     16719 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       7590 non-null   float64
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(10), object(6)
memory usage: 2.0+ MB

#JENIS DATASET

In [34]:
dataset.dtypes

Name                object
Platform            object
Year_of_Release    float64
Genre               object
Publisher           object
NA_Sales           float64
EU_Sales           float64
JP_Sales           float64
Other_Sales        float64
Global_Sales       float64
Critic_Score       float64
Critic_Count       float64
User_Score         float64
User_Count         float64
Developer           object
Rating              object
dtype: object

#MENAMPILKAN NILAI STANDAR DEVIASI DENGAN FUNGSI STD

In [36]:
dataset.select_dtypes(include=['int64']).std()

Series([], dtype: float64)

#MENAMPILKAN NILAI RATA-RATA DENGAN FUNGSI MEAN

In [37]:
dataset.select_dtypes(include=['int64']).mean()

Series([], dtype: float64)

#MENAMPILKAN NILAI MINIMUM DENGAN FUNGSI MIN

In [38]:
dataset.select_dtypes(include=['int64']).min()

Series([], dtype: float64)

#MENAMPILKAN NILAI MAKSIMUM DENGAN FUNGSI MAX

In [39]:
dataset.select_dtypes(include=['int64']).max()

Series([], dtype: float64)

#TAMPILKAN NILAI Q1, Q2, DAN Q3 DENGAN FUNGSI QUANTILE

In [41]:
dataset.select_dtypes(include=['int64']).quantile([0.25,0.5,0.75])

Empty DataFrame
Columns: []
Index: [0.25, 0.5, 0.75]

#MENAMPILKAN SEKALIGUS DIATAS DENGAN FUNGSI DESCRIBE

In [42]:
dataset.describe()

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count
count,16450.000000,16719.000000,16719.000000,16719.000000,16719.000000,16719.000000,8137.000000,8137.000000,7590.000000,7590.000000
mean,2006.487356,0.263330,0.145025,0.077602,0.047332,0.533543,68.967679,26.360821,7.125046,162.229908
std,5.878995,0.813514,0.503283,0.308818,0.186710,1.547935,13.938165,18.980495,1.500006,561.282326
min,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000,13.000000,3.000000,0.000000,4.000000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000,60.000000,12.000000,6.400000,10.000000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000,71.000000,21.000000,7.500000,24.000000
75%,2010.000000,0.240000,0.110000,0.040000,0.030000,0.470000,79.000000,36.000000,8.200000,81.000000
max,2020.000000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,9.700000,10665.000000

#MENAMPILKAN NILAI KORELASI ATTRIBUTE BERTIPE ANGKA

In [43]:
dataset.select_dtypes(include=['int64']).corr()

Empty DataFrame
Columns: []
Index: []

In [44]:
dataset.corr()

C:\Users\PC\AppData\Local\Temp\ipykernel_6280\2191645083.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  dataset.corr()

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count
Year_of_Release,1.000000,-0.092562,0.003842,-0.168386,0.037700,-0.076433,0.011411,0.223407,-0.267851,0.175339
NA_Sales,-0.092562,1.000000,0.765336,0.449598,0.638654,0.941010,0.240755,0.295413,0.086200,0.246429
EU_Sales,0.003842,0.765336,1.000000,0.435068,0.722796,0.901239,0.220752,0.277533,0.055337,0.283360
JP_Sales,-0.168386,0.449598,0.435068,1.000000,0.291096,0.612300,0.152593,0.180219,0.125598,0.075638
Other_Sales,0.037700,0.638654,0.722796,0.291096,1.000000,0.749242,0.198554,0.251639,0.057119,0.238982
Global_Sales,-0.076433,0.941010,0.901239,0.612300,0.749242,1.000000,0.245471,0.303571,0.088139,0.265012
Critic_Score,0.011411,0.240755,0.220752,0.152593,0.198554,0.245471,1.000000,0.425504,0.580878,0.264376
Critic_Count,0.223407,0.295413,0.277533,0.180219,0.251639,0.303571,0.425504,1.000000,0.194133,0.362334
User_Score,-0.267851,0.086200,0.055337,0.125598,0.057119,0.088139,0.580878,0.194133,1.000000,0.027044
User_Count,0.175339,0.246429,0.283360,0.075638,0.238982,0.265012,0.264376,0.362334,0.027044,1.000000

#METODE [errors='ignore']

In [46]:
dataset["User_Score"] = dataset["User_Score"].astype('int64', errors='ignore')
dataset["User_Score"].dtypes

dtype('float64')

#METODE FILLNA FUNCTION

In [48]:
dataset = dataset.fillna(0)
dataset.User_Score.astype('int64')

0        8
1        0
2        8
3        8
4        0
        ..
16714    0
16715    0
16716    0
16717    0
16718    0
Name: User_Score, Length: 16719, dtype: int64

#MENAMPILKAN 10 RECORD PERTAMA DARI ATTRIBUTE BERTIPE ANGKA

In [52]:
dataset.select_dtypes(include=['int64']).head(10)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#SIMPAN DATASET DENGAN ATTRIBUTE BERTIPE ANGKA KE DALAM FILE CSV

In [58]:
dataset.select_dtypes(include=['int64']).to_csv("Atribut_Bertipe Video_Games_Sales_as_at_22_Dec_2016.csv", index=False)