DATA PREPROCESSING

In [3]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

RECORD FILE "CO2_emission.csv"

In [4]:
df = pd.read_csv('CO2_emission.csv')
df.head()

,Model_Year,Make,Model,Vehicle_Class,Engine_Size,Cylinders,Transmission,Fuel_Consumption_in_City(L/100 km),Fuel_Consumption_in_City_Hwy(L/100 km),Fuel_Consumption_comb(L/100km),CO2_Emissions,Smog_Level
0,2021,Acura,ILX,Compact,2.4,4,AM8,9.9,7.0,8.6,199,3
1,2021,Acura,NSX,Two-seater,3.5,6,AM9,11.1,10.8,11.0,256,3
2,2021,Acura,RDX SH-AWD,SUV: Small,2.0,4,AS10,11.0,8.6,9.9,232,6
3,2021,Acura,RDX SH-AWD A-SPEC,SUV: Small,2.0,4,AS10,11.3,9.1,10.3,242,6
4,2021,Acura,TLX SH-AWD,Compact,2.0,4,AS10,11.2,8.0,9.8,230,7

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 935 entries, 0 to 934
Data columns (total 12 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Model_Year                              935 non-null    int64
 1   Make                                    935 non-null    object
 2   Model                                   935 non-null    object
 3   Vehicle_Class                           935 non-null    object
 4   Engine_Size                             935 non-null    float64
 5   Cylinders                               935 non-null    int64
 6   Transmission                            935 non-null    object
 7   Fuel_Consumption_in_City(L/100 km)      935 non-null    float64
 8   Fuel_Consumption_in_City_Hwy(L/100 km)  935 non-null    float64
 9   Fuel_Consumption_comb(L/100km)          935 non-null    float64
 10  CO2_Emissions                           935 non-null    int64
 11  Smog_Level                              935 non-null    int64
dtypes: float64(4), int64(4), object(4)
memory usage: 87.8+ KB

In [6]:
df.isna().sum()

Model_Year                                0
Make                                      0
Model                                     0
Vehicle_Class                             0
Engine_Size                               0
Cylinders                                 0
Transmission                              0
Fuel_Consumption_in_City(L/100 km)        0
Fuel_Consumption_in_City_Hwy(L/100 km)    0
Fuel_Consumption_comb(L/100km)            0
CO2_Emissions                             0
Smog_Level                                0
dtype: int64

In [7]:
print(f'panjang dataset {len(df)} baris')

panjang dataset 935 baris

RECORD FILE "drug.csv"

In [8]:
fd = pd.read_csv('drug.csv')
fd.head()

   age sex      bp cholesterol  Na_to_K   drug
0   23   F    HIGH        HIGH   25.355  drugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  drugY

In [7]:
fd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          200 non-null    int64
 1   sex          200 non-null    object
 2   bp           200 non-null    object
 3   cholesterol  200 non-null    object
 4   Na_to_K      200 non-null    float64
 5   drug         200 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 9.5+ KB

In [9]:
fd.isna().sum()

age            0
sex            0
bp             0
cholesterol    0
Na_to_K        0
drug           0
dtype: int64

In [10]:
print(f'panjang dataset {len(fd)} baris')

panjang dataset 200 baris

RECORD FILE "cust_segmentation_Data.csv"

In [4]:
dt = pd.read_csv('cust_segmentation_Data.csv')
dt.head()

,Customer Id,Age,Edu,Years Employed,Income,Card Debt,Other Debt,Defaulted,DebtIncomeRatio
0,1,41,2,6,19,0.124,1.073,0.0,6.3
1,2,47,1,26,100,4.582,8.218,0.0,12.8
2,3,33,2,10,57,6.111,5.802,1.0,20.9
3,4,29,2,4,19,0.681,0.516,0.0,6.3
4,5,47,1,31,253,9.308,8.908,0.0,7.2

In [81]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 850 entries, 0 to 849
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Customer Id      850 non-null    int64
 1   Age              850 non-null    int64
 2   Edu              850 non-null    int64
 3   Years Employed   850 non-null    int64
 4   Income           850 non-null    int64
 5   Card Debt        850 non-null    float64
 6   Other Debt       850 non-null    float64
 7   Defaulted        700 non-null    float64
 8   DebtIncomeRatio  850 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 59.9 KB

In [83]:
dt.isna().sum()

Customer Id          0
Age                  0
Edu                  0
Years Employed       0
Income               0
Card Debt            0
Other Debt           0
Defaulted          150
DebtIncomeRatio      0
dtype: int64

In [84]:
print(f'panjang dataset {len(dt)} baris')

panjang dataset 850 baris

#DATA SPLIT

In [18]:
# untuk Data Split
from sklearn.model_selection import train_test_split #testing dan training data

In [19]:
data = df[['Engine_Size']]
label = df['Model']

data_train, data_test, label_train, label_test = train_test_split(data, label, test_size=.3)

In [20]:
print(f'panjang data training {len(data_train)}',
     f'panjang label training {len(label_train)}',
     f'panjang data testing {len(data_test)}',
     f'panjang label testing {len(label_test)}',
     sep='\n')

panjang data training 654
panjang label training 654
panjang data testing 281
panjang label testing 281

#DATA TRANSFORMASI

In [60]:
# untuk Data Transforming
from sklearn.preprocessing import StandardScaler #standarisasi
from sklearn.preprocessing import MinMaxScaler #normalisasi

In [5]:
dataset_normalisasi = df.copy()
dataset_standarirasi = dt.copy()

NORMALISASI

In [25]:
scaler = MinMaxScaler()

normalize_dataset = scaler.fit_transform(dataset_normalisasi[['Fuel_Consumption_in_City_Hwy(L/100 km)', 'Fuel_Consumption_comb(L/100km)', 'CO2_Emissions']])

normalize_dataset = pd.DataFrame(normalize_dataset)
normalize_dataset.rename(columns={ 0 :'Fuel_Consumption_in_City_Hwy(L/100 km)', 1 : 'Fuel_Consumption_comb(L/100km)', 2 : 'CO2_Emissions'}, inplace=True)

normalize_dataset.head(5)

,Fuel_Consumption_in_City_Hwy(L/100 km),Fuel_Consumption_comb(L/100km),CO2_Emissions
0,0.182353,0.208145,0.204280
1,0.405882,0.316742,0.315175
2,0.276471,0.266968,0.268482
3,0.305882,0.285068,0.287938
4,0.241176,0.262443,0.264591

STANDARISASI

In [87]:
dataset_standarirasi.drop('Customer Id', axis=1, inplace=True)

standart_std = StandardScaler()

scaled_data = standart_std.fit_transform(dataset_standarirasi)

print('Dataset sebelum scalling:',  # BEFORE
      dt.drop('Customer Id', axis=1).head(5),
      f'Nilai standar deviasi:\n{np.std(dt)}',
      sep='\n', end='\n\n')

print('Dataset setelah scalling:',  # AFTER
      scaled_data[:6],
      f'Nilai standar deviasi: {np.std(scaled_data)}',
      sep='\n')

Dataset sebelum scalling:
   Age  Edu  Years Employed  Income  Card Debt  Other Debt  Defaulted  \
0   41    2               6      19      0.124       1.073        0.0
1   47    1              26     100      4.582       8.218        0.0
2   33    2              10      57      6.111       5.802        1.0
3   29    2               4      19      0.681       0.516        0.0
4   47    1              31     253      9.308       8.908        0.0

   DebtIncomeRatio
0              6.3
1             12.8
2             20.9
3              6.3
4              7.2
Nilai standar deviasi:
Customer Id        245.373695
Age                  8.036700
Edu                  0.927238
Years Employed       6.773895
Income              38.520375
Card Debt            2.124592
Other Debt           3.396799
Defaulted            0.439413
DebtIncomeRatio      6.715488
dtype: float64

Dataset setelah scalling:
[[ 0.74291541  0.31212243 -0.37878978 -0.71845859 -0.68381116 -0.59048916
  -0.59494973 -0.57652509]
 [ 1.48949049 -0.76634938  2.5737211   1.38432469  1.41447366  1.51296181
  -0.59494973  0.39138677]
 [-0.25251804  0.31212243  0.2117124   0.26803233  2.13414111  0.80170393
   1.68081427  1.59755385]
 [-0.75023477  0.31212243 -0.67404087 -0.71845859 -0.42164323 -0.75446707
  -0.59494973 -0.57652509]
 [ 1.48949049 -0.76634938  3.31184882  5.35624866  3.63890032  1.71609424
  -0.59494973 -0.44250653]
 [ 0.61848622 -0.76634938  2.13084447  0.89107923 -0.27243814  1.39903102
          nan  0.10845868]]
Nilai standar deviasi: nan

#DATA CLEANING

In [14]:
# untuk Data Cleaning
from sklearn.impute import SimpleImputer #subtitusi nilai

In [11]:
dataset_ns1 = df.copy()
dataset_ns2 = fd.copy()
dataset_ns3 = dt.copy()

In [12]:
imputer_mean = SimpleImputer(strategy='mean')
imputer_median = SimpleImputer(strategy='median')
imputer_modus = SimpleImputer(strategy='most_frequent')

MEAN

In [19]:
fd = pd.read_csv('drug.csv')
fd.head()

   age sex      bp cholesterol  Na_to_K   drug
0   23   F    HIGH        HIGH   25.355  drugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  drugY

In [13]:
dataset_ns2['Na_to_K'] = imputer_mean.fit_transform(dataset_ns2[['Na_to_K']])

dataset_ns2.isna().sum()

age            0
sex            0
bp             0
cholesterol    0
Na_to_K        0
drug           0
dtype: int64

MEDIAN

In [14]:
dataset_ns2['age'] = imputer_median.fit_transform(dataset_ns2[['age']])

dataset_ns2.isna().sum()

age            0
sex            0
bp             0
cholesterol    0
Na_to_K        0
drug           0
dtype: int64

MODUS

In [20]:
df = pd.read_csv('CO2_emission.csv')
df.head()

,Model_Year,Make,Model,Vehicle_Class,Engine_Size,Cylinders,Transmission,Fuel_Consumption_in_City(L/100 km),Fuel_Consumption_in_City_Hwy(L/100 km),Fuel_Consumption_comb(L/100km),CO2_Emissions,Smog_Level
0,2021,Acura,ILX,Compact,2.4,4,AM8,9.9,7.0,8.6,199,3
1,2021,Acura,NSX,Two-seater,3.5,6,AM9,11.1,10.8,11.0,256,3
2,2021,Acura,RDX SH-AWD,SUV: Small,2.0,4,AS10,11.0,8.6,9.9,232,6
3,2021,Acura,RDX SH-AWD A-SPEC,SUV: Small,2.0,4,AS10,11.3,9.1,10.3,242,6
4,2021,Acura,TLX SH-AWD,Compact,2.0,4,AS10,11.2,8.0,9.8,230,7

In [18]:
dataset_ns1['Model'] = imputer_modus.fit_transform(dataset_ns1[['Model']])

dataset_ns1.isna().sum()

Model_Year                                0
Make                                      0
Model                                     0
Vehicle_Class                             0
Engine_Size                               0
Cylinders                                 0
Transmission                              0
Fuel_Consumption_in_City(L/100 km)        0
Fuel_Consumption_in_City_Hwy(L/100 km)    0
Fuel_Consumption_comb(L/100km)            0
CO2_Emissions                             0
Smog_Level                                0
dtype: int64

MENGHAPUS RECORD/FEATURE

In [21]:
dataset_ns3.dropna(inplace=True)

dataset_ns3.isna().sum()

Customer Id        0
Age                0
Edu                0
Years Employed     0
Income             0
Card Debt          0
Other Debt         0
Defaulted          0
DebtIncomeRatio    0
dtype: int64

In [23]:
len(dataset_ns1)

935

DATA DUPLIKAT

In [9]:
dataset_duplicate = fd.copy()

dataset_duplicate.duplicated().sum()

1

In [10]:
dataset_duplicate.drop_duplicates(inplace=True)

dataset_duplicate.duplicated().sum()

0

#ENCODING

In [15]:
# untuk Data Encoding
from sklearn.preprocessing import OrdinalEncoder #encoder
from sklearn.preprocessing import OneHotEncoder #onehot

ONE-HOT-ENCODING

In [17]:
dataset_one_hot = fd.copy()

In [34]:
fd['bp'].unique()

array(['HIGH', 'LOW', 'NORMAL'], dtype=object)

In [18]:
temp_dataset = pd.get_dummies(dataset_one_hot[['bp']])

temp_dataset = pd.DataFrame(temp_dataset)

dataset_one_hot.drop('bp', axis=1, inplace=True)

dataset_one_hot = dataset_one_hot.join(temp_dataset)
dataset_one_hot.head(7)

   age sex cholesterol  Na_to_K   drug  bp_HIGH  bp_LOW  bp_NORMAL
0   23   F        HIGH   25.355  drugY        1       0          0
1   47   M        HIGH   13.093  drugC        0       1          0
2   47   M        HIGH   10.114  drugC        0       1          0
3   28   F        HIGH    7.798  drugX        0       0          1
4   61   F        HIGH   18.043  drugY        0       1          0
5   22   F        HIGH    8.607  drugX        0       0          1
6   49   F        HIGH   16.275  drugY        0       0          1